.card {
  background-color: var(--theme-color-secondary);
  padding: 1.5rem 1.5rem 0.75rem 1.5rem;
  border-radius: 1rem;
  max-width: 800px;
}

.header {
  font-size: 0.875rem;
}

.head-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.head-icons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.name-link {
  color: inherit;
}

.name-link:hover,
.name:focus {
  color: rgba(var(--theme-color-accent-rgb), 0.9);
}

.name {
  composes: font-mont from "@/utils.module.css";
  font-size: 1.375rem;
  margin: 0;
}

.forkFrom {
  margin: 0;
}

.parent-link {
  composes: name-link;
}

.desc {
  font-size: 1.2rem;
  margin: 1.2em 0;
}

.desc:empty {
  height: 1em;
}

.footer {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.foot-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75em;
}

.created {
  margin: 0;
}

@media (min-width: 700px) {
  .head-meta {
    justify-content: space-between;
  }

  .desc {
    width: 80%;
  }

  .created {
    margin-left: auto;
  }
}
