.dropdown {
  position: relative;
  z-index: 20;
  composes: shadow-sm from "@/utils.module.css";
}

.box {
  display: flex;
  position: relative;
  align-items: center;
  /* gap: 1em; */
  background-color: var(--theme-color-tertiary);
  border-radius: 9999px;
  padding: 0.5em 1em;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.icon {
  font-size: 1.2em;
  margin-left: auto;
}

.placeholder {
  font-size: 1.2rem;
}

.desc {
  margin: -0.25em 0 0.25em 0;
  padding-left: 0.5em;
  font-size: 1.1rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.list {
  position: absolute;
  inset: 120% -20% auto 0;
  background-color: var(--theme-color-tertiary);
  border-radius: 0.75em;
  padding: 0.5em 0;
  overflow: hidden;

  display: none;
  flex-direction: column;
}

.list.open {
  display: flex;
}

.item {
  padding: 0.25em 0.5em;
}

.item:hover,
.item:focus {
  background-color: rgba(var(--theme-color-accent-rgb), 0.5);
}

.disabled {
  background-color: rgb(180, 180, 180) !important;
  cursor: not-allowed;
  user-select: none;
}

@media (min-width: 1000px) {
  .placeholder {
    font-size: 1.5rem;
  }

  .list {
    inset: 120% 0 auto -20%;
  }
}
