.button {
  width: max-content;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 9999px;
  /* filter: drop-shadow(2px 2px 2px rgb(29, 29, 29)); */

  display: flex;
  align-items: center;
  justify-content: space-between;
}
