.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--theme-color-tertiary); */
}

.bar {
  width: 100%;
  height: 10px;
  display: flex;
}

.segment {
  display: block;
  background-color: currentColor;
  transition: transform 0.2s ease-in-out;
}

/* cope with the border-radius issue */
.segment:first-of-type {
  border-radius: 9999px 0 0 9999px;
}

.segment:last-of-type {
  border-radius: 0 9999px 9999px 0;
}

.segment:only-child {
  border-radius: 9999px;
}

.segment:hover {
  transform: scale(1.01) translateY(-0.1em);
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.legend-color {
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
}

.legend-percentage {
  opacity: 0.5;
}
