.searchBar {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .searchBar {
    justify-content: center;
    gap: 1.2em;
  }

  .dropdown-sort {
    order: 1;
  }

  .dropdown-repo {
    order: -1;
  }
}
