.label {
}

.search {
  font-size: 1.2rem;
  position: relative;
  display: inline-flex;
  border-radius: 9999px;
  overflow: hidden;
  composes: shadow-sm from "@/utils.module.css";
}

.input {
  width: 100%;
  background-color: var(--theme-color-tertiary);
  border: none;
  border-radius: 9999px 0 0 9999px;
  padding: 0.5em 1em;
  box-shadow: 0 0 0 0 rgb(255, 232, 29);
  transition: box-shadow 100ms ease;
}

.input:focus,
.search:focus-within {
  outline: none;
  box-shadow: 0 0 0 3px rgb(255, 232, 29);
}

.input::placeholder {
  font-style: italic;
}

.reset-button {
  background: transparent;
  visibility: hidden;

  position: absolute;
  inset: 0 2.1em 0 auto;
  display: inline-flex;
  align-items: center;

  font-size: 1.2em;
  cursor: default;
  user-select: none !important;
}

/* https://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css-on-a-page-i-am-visiting-and-do-no */
.input:not(:placeholder-shown) ~ .reset-button {
  visibility: visible;
}

.input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  opacity: 0;
}

.search-button {
  background-color: var(--theme-color-accent);
  border-radius: 0 9999px 9999px 0;
  padding-right: 0.5em;
  padding-left: 0.5em;

  font-size: 1.2em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

@media (min-width: 1000px) {
  .search {
    font-size: 1.6rem;
  }
}
