.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strip {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--theme-color-accent), #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
