.section {
  background-color: var(--theme-color-secondary);
  padding: 2rem 0;
}

.container {
  composes: container from "@/utils.module.css";
}

.logo {
  display: block;
  max-width: 250px;
}

.title {
  composes: font-mont from "@/utils.module.css";
  font-size: 3rem;
}

.description {
  composes: font-mont from "@/utils.module.css";
  font-size: 1.2rem;
  max-width: 35ch;
}

.button {
  background-color: white;
  font-size: 1.2rem;
  font-weight: 600;
  gap: 0.75em;
  filter: drop-shadow(2px 2px 2px rgb(29, 29, 29));
  transition: filter 150ms ease-in, box-shadow 0.3s ease;
}

.button:hover,
.button:focus {
  filter: drop-shadow(0 0 0 rgb(29, 29, 29));
  background-color: var(--theme-color-tertiary);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(255, 232, 29);
}

.icon {
  font-size: 1.3em;
}

@media (min-width: 1000px) {
  .section {
    min-height: 660px;
    display: grid;
    align-content: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    width: 25%;
  }

  .main-container {
    width: 70%;
  }

  .logo {
    max-width: 100%;
    margin: 0 auto;
  }

  .title {
    font-size: 5.625rem;
  }

  .description {
    font-size: 1.875rem;
  }

  .button {
    font-size: 2rem;
  }
}
