@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --theme-color-primary: #333652;
  --theme-color-secondary: #90adc6;
  --theme-color-tertiary: #e9eaec;
  --theme-color-accent: #fad02c;
  --theme-color-error: #fa452c;

  --theme-color-primary-rgb: 51, 54, 82;
  --theme-color-secondary-rgb: 144, 173, 198;
  --theme-color-tertiary-rgb: 233, 234, 236;
  --theme-color-accent-rgb: 250, 208, 44;
  --theme-color-error-rgb: 250, 69, 44;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--theme-color-primary-rgb), 0.6) var(--theme-color-tertiary);
}

body {
  background-color: var(--theme-color-primary);
}

.footer {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  color: var(--theme-color-tertiary);
}
/* scrollbar */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--theme-color-primary-rgb), 0.6) var(--theme-color-tertiary);
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--theme-color-tertiary);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(var(--theme-color-primary-rgb), 0.5);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--theme-color-primary-rgb), 0.7);
}
