@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --theme-color-primary: #333652;
  --theme-color-secondary: #90ADC6;
  --theme-color-tertiary: #E9EAEC;
  --theme-color-accent: #FAD02C;
}
